/*Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #ffffff;
    padding: 20px;
}

.centraliza{
     display: flex;
        justify-content: center;

}

.container {
    width: 900px;
    background-color: #cf7bd6;
    /* efeito de sombra suave */
    /* 0px deslocamento horizontal */
    /* 5px deslocamento vertical */
    /* 10 px - raio de desfoque - quanto maior, mais difusa e suave fica */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
  
} 

/* seletor ID */
#main-header {
    /* função linear gradiente recebe 3 cores mais a inclinação da cor */
    background: linear-gradient(135deg,#e094dd  0%, #8107a0 100%);
    color: white;
    padding: 30px;
    /* alinhamento do texto e da imagem */
    /* organiza os elementos dentro do container em linhas ou colunas */
    display: flex;
    flex-direction: row;
    /* define o espaçamento entre os items do display flex */
    gap: 10px;
    align-items: center;
    border-radius: 8px;
}

#main-header h1{
    font-size: 20px;
    
}



#main-header .profile-photo {
    border-radius: 50%;
    border: 4px solid rgb(83, 0, 76);
    width: 150px;
    height: 150px;
    object-fit: cover;
}

address{
    font-style: italic;
}

h2{
    font-size: 1.rem;
    color: #74026a;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

/* seletores descendentes */

ol > li{
    /* list-style - remove o li */
    list-style: none;
    /* cria novamento o li */
    counter-increment: section-counter;
    background-color: blueviolet;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 25px;
    border-left: 5px solid #a54395;
}

ol > li::before{
    /* formata a li antes do container pai */
    content: counter(section-counter);
    position: absolute;
    left: -15px;
    top: -15px;
    background: #47083f;
    color: #f4f4f4;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}

p{
    color: #ffffff;
}



#main-header a .icon {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

a {
    color: #f4aef7;
}

h3{
    color: #f88aef;
    margin-bottom: 8px;
}

section{
    background-color: #360a2b;
    padding: 20px;
    border-radius: 8px;
}



@media (max-width: 768px) {
    #main-header {
        flex-direction: column;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
    }

    .titulo-formacao {
        font-size: 1.2rem;
    }
}